<style>
    table, th, td {
      border:1px solid black;
    }
</style>

<h1>{{ student.institution }}</h1>
<h3>{{ student.roll_number }} - {{ student.name }}</h3>

<table>
    <form action="{% url 'gradebook:add_score' student.id %}" method="POST">
    {% csrf_token %}
        <tr>
            <th>Subject</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>subject goes here</td>
            <td>Marks go here</td>
        </tr>
        <tr>
            <td>subject goes here</td>
            <td>Marks go here</td>
        </tr>
        <tr>
            <td>subject goes here</td>
            <td>Marks go here</td>
        </tr>
        <tr>
            <td>subject goes here</td>
            <td>Marks go here</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>Total marks go here</td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>Compute grade and print here</td>
        </tr>
        <tr>
            
                    <td>
                        <input type="text" name="subject" id="subject">
                    </td>
                    <td>
                        <input type="text" name="marks" id="marks">
                    </td>
                    <td>
                        <input type="submit" value="Add mark!">
                    </td>        
        </tr>
    </form>
</table>