{% if employee %}
<p>Employee id {{employee.id}} has the name {{employee.name}} and draws {{employee.salary}}</p>
<ul>
{% for attendance_item in attendance_records %}
    <li>{{attendance_item}}</li>
{% endfor %}
</ul>
<a href="{% url 'shop:show_attendance_page' employee.id %}">Give attendance</a>
{% endif %}