<form action="{% url 'shop:give_attendance' employee.id %}" method="post">
    {% csrf_token %}
    <p>For {{employee.name}}:</p>
    <label for="attendance_date">Date: </label>
    <input type="date" id="attendance_date" name="attendance_date">
    <label for="present">Present</label>
    <input type="radio" id="present" name="attendance" value="present">
    <label for="absent">Absent</label>
    <input type="radio" id="absent" name="attendance" value="absent">
    <input type="submit" value="vote">
</form>