{% for nonsense in nonsense_list %}
<p>{{ nonsense.id }} {{nonsense.message}}</p>
{% endfor %}
<form action="{% url 'shop:add_nonsense' %}" method="POST">
    {% csrf_token %}
    <label for="newmessage">Write some Nonsense here</label>
    <input type="text" name="newmessage" id="newmessage">
    <input type="submit">
</form>