{% if allowed_access == True %}
<p>Top secret content</p>
{% else %}
<p>Restricted!</p>
{% endif %}
<form action="{% url 'shop:toggle_access' %}" method="POST">
    {% csrf_token %}
    <label id="name">Name</label>
    <input type="text" id="name" name="name">
    <button type="submit">Does agify think I'm old enough?</button>
</form>